.chart-area {
    background-color: #076185;
    max-width: 538px;
    height: 300px;
    padding: 10px;
    margin: 20px 0;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    box-sizing: border-box;
    
}
    
#my-chart {
    padding: 0 10px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

