/* Search */

.search {
    position: relative;
    height: 120px;
    padding: 0px 0;
    /*background-color: rgba(255, 246, 180, 0.164);*/
    background-color: rgba(16, 118, 158, 0);

}

.form-group {
    padding-top: 15px;
}

#svg-header {
    position: absolute;
}

#label-nome-numero {    
    font-size: 167.5%;
    color: #403F44;
    margin-bottom: -3px;
}

#in-search {
    border-radius: 100px;
    text-align: center;
}

.search .btn {
    background-color: #D1002A;
    border-color: whitesmoke;    
    border: 2px solid white;
    border-radius: 100px;
}


@media (max-width: 767px) {
    .search {
        padding: 15px 0;
        height: 138px;
        text-align: center;
        box-sizing: border-box;
        background-color:  rgba(16, 118, 158, 0.219);
    }
    #svg-header {
        display: none;
    }
    
    #label-nome-numero{
        display: none;   
    }

    

    .search .btn {
        margin-top: 15px;
        height: 50px;
        font-size: 24px;
    }
}

@media (min-width: 768px) {
    #in-search::placeholder{
        opacity: 0;
    }
}