body {
    font-family: 'Lora', serif;
}
.input-pokemon-number {
    border: 1px solid black;
    border-radius: 10px;
    max-width: 300px;
    display: block;
    margin: 10px auto;
    height: 50px;
    width: 100%;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}

.input-pokemon-number::placeholder {
    font-size: 20px;
}


.label-pokemon-name {
    font-size: 26px;
    font-weight: lighter;
}

.info {
    margin: 10px auto;
    max-width: 300px;
    height: 300px;
}

.info #picture-area {
    width: 90px;
    height: 90px;
    background-color: white;
    background-position: center;
    border: 2px solid rgb(179, 179, 179);
    border-radius: 10px;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
}

.info #picture-area #picture {
    position: absolute;
    width: 100%;
    
    
}